<!DOCTYPE html>
<html>
<head>
  <title>Songsa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<hr>

<%= link_to "All Artists", artists_path %>
<%= link_to "All Songs", songs_path %>

</body>
</html>
